#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#timeframe {
  flex: 1;
}

#body {
  flex: 9;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

#body-left-panel {
  flex: 1;
}

#body-right-panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
